body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(31, 31, 152);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.title {
  color: white;
  font-size: 35px;
}

.jokeField {
  width: 500px;
  height: 200px;
  border-radius: 5px;
  background-color: rgb(108, 214, 188);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.jokeText {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.caption {
  margin: 0;
  margin-top: 10px;
  color: white;
}

.button {
  margin-top: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 50px;
  min-height: 45px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 250ms;
}


.generateButton {
  background-color: rgb(105, 225, 69);
}

.previousButton {
  background-color: rgb(255, 255, 0);
}

.resetButton {
  background-color: rgb(255, 0, 0);
  margin-bottom: 15px;
}

.generateButton:active {
  background-color: rgb(100, 211, 66);
}

.previousButton:active {
  background-color: rgb(183, 183, 3);
}

.resetButton:active {
  background-color: rgb(178, 0, 0);
}

.button:hover {
  box-shadow: 5px 5px 5px black;
}


.footer {
  display: flex;
  height: 100px;
  background-color: rgb(9, 9, 49);
  width: 100%;
  color: white;
  font-size: 20px;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}

@media(max-width: 560px) {
  .button {
    max-width: 95vw
  }

  .jokeField {
    max-width: 90vw;
  }
}

@media(max-height: 530px) {
  .title {
    font-size: 30px;
    margin: 10px;
  }

  .jokeField {
    height: 17vh;
    min-height: 75px;
  }

  .jokeText {
    font-size: 15px;
  }

  .bottomButtons {
    display: flex;
  }

  .previousButton,
  .resetButton {
    width: 240px;
    height: 35px;
  }

  .resetButton {
    margin-left: 20px;
  }
}